<!-- add-location-gallery.component.html -->

<form [formGroup]="galleryForm" (ngSubmit)="submitGallery()">
  <div class="mb-3">
    <label for="isPrimary" class="form-label">Is Primary:</label>
    <select id="isPrimary" class="form-select" formControlName="isPrimary">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="imageCaption" class="form-label">Image Caption:</label>
    <input type="text" id="imageCaption" class="form-control" placeholder="Enter image caption"
      formControlName="imageCaption">
  </div>

  <div class="mb-3">
    <label for="locationID" class="form-label">Location </label>
    <select id="locationID" class="form-select" formControlName="locationID">
        <option value="" disabled selected>Select a Location</option>
        <option *ngFor="let location of locations" [value]="location.locationID">
            {{ location.locationName }} 
        </option>
    </select>
</div>


  <div class="mb-3">
    <label for="imageFile" class="form-label">Image File:</label>
    <input type="file" id="imageFile" class="form-control" (change)="onFileSelected($event)">
  </div>

  <div class="d-grid">
    <button type="submit" class="btn btn-primary btn-lg">Add Gallery</button>
  </div>
</form>