<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Travel Dashboard</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/dashboard">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Dashboard
      </a>
    </li>

    <li>
      <a href="#userManagementMenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="userManagementMenu" class="nav-link link-dark d-flex justify-content-between align-items-center">
        <span>
          <i class="bi bi-person"></i> 
          User Management
        </span>
        <i class="bi bi-chevron-down"></i> 
      </a>
      <div class="collapse" id="userManagementMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="nav-link link-dark ms-4" routerLink="/users">All Users</a></li>
          <li><a class="nav-link link-dark ms-4" routerLink="/add-user">Add New User</a></li>
          <li><a class="nav-link link-dark ms-4" routerLink="">User Roles</a></li>
        </ul>
      </div>
    </li> 
    
    <li>
      <a href="#packageManagementMenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="packageManagementMenu" class="nav-link link-dark d-flex justify-content-between align-items-center">
        <span>
          <i class="bi bi-box"></i> 
          Package Management
        </span>
        <i class="bi bi-chevron-down"></i> 
      </a>
      <div class="collapse" id="packageManagementMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="nav-link link-dark ms-4" routerLink="/categories">Categories</a></li>
          <li><a class="nav-link link-dark ms-4" routerLink="/sub-categories">Sub Categories</a></li>
          <li><a class="nav-link link-dark ms-4" routerLink="/package/addBudget">PackageBudget</a></li>
        </ul>
      </div>
    </li>


    <li>
      <a href="#CountryMenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="packageManagementMenu" class="nav-link link-dark d-flex justify-content-between align-items-center">
        <span>
          <i class="bi bi-box"></i> 
          Country Management
        </span>
        <i class="bi bi-chevron-down"></i> 
      </a>
      <div class="collapse" id="CountryMenu">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a class="nav-link link-dark ms-4" routerLink="/countries">Country</a></li>
          <li><a class="nav-link link-dark ms-4" routerLink="/states">State</a></li>
          <li><a class="nav-link link-dark ms-4" routerLink="">Facilities</a></li>
        </ul>
      </div>
    </li>

    

    
  </ul>
</div>
